<div class='row' ngsReveal>
  <h2>LinkME</h2>
  <div class='video col-md-12 col-sm-12'>
    <iframe width="720" height="400" src="https://www.youtube.com/embed/vApwDPY05Zo" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class='projectwindow col-md-12 col-sm-12'>
    
    <p>
      <strong>GitHub: </strong>
      <a href='https://github.com/isyang1223/linkme2' target="_blank">https://github.com/isyang1223/linkme2</a>
    </p>
    <p>
      <strong>Technologies: </strong> MongoDB, Express, React, Node.js, Redux, Bootstrap</p>
    <p>
      <strong>Description: </strong>Full MERN(MongoDB, Express, React, Node.js) stack web development, social media/network for developers. GitHub api was used
      to show that profile's GitHub repositories. CRUD function using NoSQL database.</p>
   
    <div class='align-btn'>
      <button (click)="clickBack()">Back</button>
    </div>
  </div>
 
</div>