<div class='row'>
  <h2>YourSpace</h2>
  <div class='video col-md-12 col-sm-12'>
  
    <iframe width="720" height="400" src="https://www.youtube.com/embed/2S801YLb-60" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class='projectwindow col-md-12 col-sm-12'>
    
    <p>
      <strong>GitHub: </strong>
      <a href='https://github.com/isyang1223/user_dashboard' target="_blank">https://github.com/isyang1223/user_dashboard</a>
    </p>
    <p>
      <strong>Technologies: </strong> Django, MySQL, Bootstrap </p>
  
    <p>
      <strong>Description: </strong>Full stack web development with Python, mini social network message board including login and registration with many to many
      relationship CRUD function.</p>
    
    <div class='align-btn'>
      <button (click)="clickBack()">Back</button>
    </div>
  </div>
  
</div>