/* You can add global styles to this file, and also import other style files */
#top{
     position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  

}

.active a:after {
    content: " ";
    width: 100px;
    height: 10px;
    background-color: white;
    margin-top: -15px;

}
.navbar{
  background-color: rgb(250, 241, 241);
  position:fixed;
	top: 0px;
	width: 100%; 
	z-index:9999;
    display: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(80, 69, 69);
}



.navbar-nav > li > a {
  
  padding: 0; /*removing spacing*/
  margin: 14px; /*add spacing*/
}





.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 241, 241);


    
}



#top h1{
    margin-top: 0px;
    
}
#aboutme h1{
    margin-top: 0px;
    
}
#projects h1{
    margin-top: 0px;
    
}
#skills h1{
    margin-top: 0px;
    
}
#contact h1{
    margin-top: 0px;
    
}
#contact {
    padding-top: 60px;
    
}

#aboutme{
    text-align: center;
    font-size: 18px;
    
    
}
#projects{

    margin-top: 40px;
    margin-bottom: 40px;
  
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
}
#skills{
    margin-top: 60px;
    margin-bottom: 60px;
    
    
    text-align: center;
    
    text-align: center;
    font-size: 18px;
    
}
#contact h2{
    color: black;
}
#contact label{
    color: black;
}


.image-box{
  
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/rsz_background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:100vh;
    color: white;
    position: relative;
}
.background-project{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/rsz_projects.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    height: 250px;
    color: white;
    position: relative;

}


.background-skills{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/rsz_skills.jpg");
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    height: 250px;
    color: white;
    position: relative;


}

.image-box1{
  background-color: rgb(250, 241, 241);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: black;
   

}
.image-box2{
  background-color: rgb(250, 241, 241);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 1000px;
  color: white;

}
.image-box3{
  background-color: rgb(250, 241, 241);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}
.image-box4{
  background-color: rgb(250, 241, 241);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  
  color: white;
    position: relative;

}

    


.kobe {
    

    width: 400px;
    margin-top: 60px;
    
    
}

.aboutme h1{
    margin: 0px;
    margin-top: 20px;

}

.background-project h1{

    margin: 0px;
    position: absolute;
   
    top: 40%;
    width: 100%;
    text-align: center;
    
}

.rowicons{
    padding-bottom: 60px;
}

.background-skills h1{

    margin: 0px;
    position: absolute;
   
    top: 40%;
    width: 100%;
    text-align: center;
    
}

.background-contact h1{

    margin: 0px;
    position: absolute;
   
    top: 40%;
    width: 100%;
    text-align: center;
    
}




.portfolio-item {
    margin-top: 15px;
    padding-bottom: 15px;
}
.card-header {
    font-size: 20px;
    color: black;
}
.card {
    border: 1px solid black;
}
.card-text li {
    text-align: center;
    list-style: none;
    

}
.card-text {
    padding: 0px;
}


#skills .card {
    border: 4px solid black;
    
}
#skills .card-header{
    background-color: black;
    border-bottom: 4px solid black;
    color: white;
}
/* #skills .card-body { 
    background: black;
    color: white;
} */





.background-contact{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/rsz_contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    height: 250px;
    color: white;
    position: relative;


}
.rowicons a {
    color: black;
}

.foot{
    padding-top: 40px;

}
.foot p{
    color: black;
    text-align: center;
    margin-bottom: 0px;
}

.aboutme {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
}

.navbar li:hover {
    border-bottom: 2px solid darkgray;
}

body {
    font-family: "Arial", Arial, sans-serif;
}
.paragraph {
    font-size: 20px;
}


#projects .card:hover {
	-webkit-box-shadow: 0px 0px 10px 3px rgb(83, 83, 83);
	-moz-box-shadow: 0px 0px 10px 3px rgb(83, 83, 83);
	box-shadow: 0px 0px 10px 3px rgb(83, 83, 83);
}
.card{
    margin-bottom: 40px;
}
.project-card {
	padding: 0px 20px;
	
	text-align: center;
	margin: 10px 0px;
}

.project-card button{
	background-color: black;
	border-radius: 10px;
	color: white;
	padding: 10px;
	box-shadow: 2px 2px 2px #888888;
}

.topcard {
    margin-top: 60px;
}
.bottomcard {
    margin-bottom: 60px;
}

.projects{
    margin-top: 60px;
    margin-bottom: 60px;
}
.project-card img{
	width: 40%;

	margin-bottom: 10px;
}
#profile_pic{
	display: inline-block;
	width: 100%;
	height: 70%;
	border-radius: 50%;
    object-fit: cover;
    
    padding-left:60px;
    padding-bottom:60px;
}