<div class='row' ngsReveal>
  <h2>Satsuma Sushi (in progress)</h2>
  <div class='video col-md-12 col-sm-12'>
    <iframe width="720" height="400"src="https://www.youtube.com/embed/xkCYNSO82Xw" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class='projectwindow col-md-12 col-sm-12'>
    
    <p>
      <strong>GitHub: </strong>
      <a href='https://github.com/isyang1223/satsumasushi' target="_blank">github.com/isyang1223/satsumasushi</a>
    </p>
    <p>
      <strong>Technologies: </strong>Express, Angular, Node.js, Bootstrap</p>

    <p>
      <strong>Description: </strong>Freelance project for a client, sushi restaurant using Express, Angular, Node.js</p>
   
    <div class='align-btn'>
      <button (click)="clickBack()">Back</button>
    </div>
  </div>
  
</div>