<div class='row' ngsReveal>
  <h2>Pet Shelter</h2>
  <div class='video col-md-12 col-sm-12'>
    <iframe width="720" height="400" src="https://www.youtube.com/embed/i7IUEDHgjQI" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class='projectwindow col-md-12 col-sm-12'>
    
    <p>
      <strong>GitHub: </strong>
      <a href='https://github.com/isyang1223/petshleter' target="_blank">https://github.com/isyang1223/petshleter</a>
    </p>
    <!-- <p>
    <strong>Website: </strong>
    <a href='http://18.144.24.126/' target="_blank">http://18.144.24.126/</a>
    </p> -->
    <p>
      <strong>Technologies: </strong> MongoDB, Express, Angular, Node.js, Bootstrap</p>
    
    <p>
      <strong>Description: </strong>Full MEAN(MongoDB, Express, Angular, Node.js) stack web development, CRUD function using NoSQL database with able to upload
      and set pet's profile picture.</p>
  
    <div class='align-btn'>
      <button (click)="clickBack()">Back</button>
    </div>
  </div>
  
</div>